body {
  margin: 20px;
  padding: 0px;
}
#mainCanvas, #shadowCanvas {
  background: red;
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
/*    margin-left: -219px;
  margin-top: -150px;*/
  /*margin-left: -15px;*/
  /*margin-top: -15px;*/
}
#shadowCanvas {
  z-index: -1;
}
#message {
  color: white;
  background: #b3b3b3;
  /*
  width: 426px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -219px;
  margin-top: -175px;*/
  height: 25px;
  line-height: 25px;
  padding: 0px 6px;
  margin-bottom: 20px;
}
#info-box {
  position: absolute;
  bottom: 0px;
  max-width: 400px;
  background: #fdfdfd;
  padding: 12px;
}